<%- include('../layout/header.ejs') %>
    <div class="d-flex mb-3">
        <div class="me-auto p-2"></div>
        <div class="p-2"><a href="/login" class="btn btn-info">login</a></div>
        <div class="p-2"><a href="/daftar" class="btn btn-info">daftar</a></div>
    </div>
    <div class="container px-4 text-center">
        <div class="row gx-5">
            <div class="col-sm-12">
                <div class="p-3 border bg-white" style="background-color: white; box-shadow:0px 0px 20px black;">
                    <div class="card" style="width: auto; margin: auto;">
                        <img src="img/pt.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">PT Gudang garam</h5>
                            <p class="card-text fs-6"><strong>PT Perusahaan Rokok Tjap Gudang Garam Tbk</strong>
                                (terkenal
                                dengan nama singkatan <strong>PT Gudang Garam Tbk)</strong> adalah sebuah
                                merek/perusahaan produsen rokok di Indonesia. Didirikan pada 26 Juni 1958 oleh Surya
                                Wonowidjojo, perusahaan rokok ini merupakan salah satu pemimpin pasar dan yang terbesar
                                dalam produksi rokok kretek dalam negeri. Produksi dan kantor pusat Gudang Garam ada di
                                kompleks sebesar 514 hektar di Kediri, Jawa Timur.</p>
                            <br>
                            <i>
                                <p class="card-text fs-6">Saat ini Gudang Garam Tbk kembali membuka rekrutment Lowongan
                                    kerja
                                    terbaru pada
                                    bulan
                                    juni 2022. PT gudang garama Tbk yang saat ini sedang mencari atau mengnginkan
                                    kandidat
                                    terbaik dengan kualifikasi yang sesuai dan cocok untuk posisi penempatan
                                    <strong>bagi
                                        anda para pencari kerja yang tertarik untuk mengembangkan karir anda bersama PT
                                        gudang garam tbk</strong>
                                </p>
                            </i>
                            <a href="/daftar" class="btn btn-primary mt-2">Daftar Sekarang</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../layout/footer.ejs') %>