<%- include('../layout/header.ejs') %>
    <div class="d-flex mb-3">
        <div class="me-auto p-2"></div>
        <div class="p-2"><a href="/login" class="btn btn-info">login</a></div>
        <div class="p-2"><a href="/daftar" class="btn btn-info">daftar</a></div>
    </div>
    <%- include('../layout/footer.ejs') %>