<%- include('../layout/header.ejs') %>
    <div class="container px-4">
        <div class="row gx-5">
            <div class="col-sm-3">
                <div class="p-3 border bg-light text-center regisBTn mt-5">
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="/inputData" class="btn btn-primary">Isi Data</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../layout/footer.ejs') %>