<%- include('../layout/header.ejs') %>
    <div class="container px-4">
        <div class="row gx-5">
            <div class="col-sm-12 mt-5  text-center">
                <div class="p-3 border bg-light">
                    <div class="jumbotron">
                        <h1 class="display-4" id="home">Selamat datang</h1>
                        <p class="lead"><strong>untuk melakukan pendaftaran isi data anda</strong></p>
                        <hr class="my-4">
                        <p><i> siapkan cv anda ketika ingin mengisi data pastikan tidak ada yang salah dalam pengisian
                                jika data
                                tidak sesuai dengan pertanyaan <strong> akan di tolak</strong></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 mt-5 mb-6 " style="box-shadow: -5px -5px 3px black;">

                <h1 class="display-4 mb-5 ">pt gudang_garam</h1>

                <p><i>perusahaan kami tersebar Perusahaan rokok Gudang Garam adalah salah satu industri rokok terkemuka
                        di tanah air yang telah berdiri sejak tahun 1958 di kota Kediri, Jawa Timur. Hingga kini, Gudang
                        Garam sudah terkenal luas baik di dalam negeri maupun mancanegara sebagai penghasil rokok kretek
                        berkualitas tinggi. Produk Gudang Garam bisa ditemukan dalam berbagai variasi, mulai sigaret
                        kretek klobot (SKL), sigaret kretek linting-tangan (SKT), hingga sigaret kretek linting-mesin
                        (SKM). Bagi Anda para penikmat kretek sejati, komitmen kami adalah memberikan pengalaman tak
                        tergantikan dalam menikmati kretek yang terbuat dari bahan pilihan berkualitas tinggi.</i></p>
            </div>
            <div class="col-sm-5 mt-5 mb-5" style="border-left: 1px solid black;box-shadow: 5px 5px 3px black;">
                <h1 class="display-4 mb-5" id="end">penempatan kerja</h1>

                <ul class="list-group">
                    <li class="list-group-item "><strong>Perusahaan</strong></li>
                    <li class="list-group-item">Jakarta</li>
                    <li class="list-group-item">Tangerang</li>
                    <li class="list-group-item">Bandung</li>
                    <li class="list-group-item">Kediri</li>
                    <li class="list-group-item">Semarang</li>
                </ul>
            </div>
            <div class="col-sm-12">
                <div class="container px-4">
                    <div class="row gx-5">
                        <div class="col-sm-4">
                            <div class="p-3 border bg-light text-center regisBTn mt-5">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="/inputData" class="btn btn-primary">Isi Data</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <%- include('../layout/footer.ejs') %>