p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.contentDftr {
    margin: 0 auto;
    width: 300px;
    height: auto;
    background-color: whitesmoke;
    padding: 10px;
    opacity: 1;
    box-shadow: 0px 0px 5px black;
}

.regisBTn {
    background: whitesmoke;
    box-shadow: 0px 0px 5px black;
}

.textShdw {
    text-shadow: 1px 3px 3px rgb(54, 53, 53);
    padding-bottom: 10;

}

.lineHeigt {
    line-height: 500px;
}

.judul {
    color: black;
    text-shadow: 0px 3px 2px whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}